@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap");

body {
    background: linear-gradient(to bottom left, rgb(240, 229, 251), rgb(255, 255, 255), rgb(255 247 237));
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.message {
    position: relative;
    z-index: 10;
    text-align: center;
    margin: 0 auto;
    padding: 50px 0;
    font-size: 18px;
    width: 60%;
    color: rgb(75 85 99);
}

.animate-text {
    opacity: 0;
    transform: translateY(20px);
    font-family: "Nunito Sans", sans-serif;
}

.play-button {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 96px;
    height: 96px;
    background-color: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(10px);
    padding: 16px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
}

.play-button:hover {
    transform: translate(-50%, -50%) scale(1.1);
}

.play-button svg {
    color: rgb(107 114 128);
    fill: rgb(107 114 128);
}

@media screen and (max-width: 768px) {
    .message {
        width: 90%;
        font-size: 18px;
        text-align: left;
        padding: 50px;
    }
}

@media screen and (max-width: 480px) {
    .message {
        width: 95%;
        font-size: 16px;
        text-align: left;
        padding: 50px 10px;
    }
}

.read-more-button {
    color: white;
    text-decoration: none;
    background-color: rgb(249 115 22);
    padding: 12px 24px;
    font-size: 14px;
    border-radius: 18px;
    transition: all 0.3s ease;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: "Nunito Sans", sans-serif;
}

.read-more-button:hover {
    background-color: rgb(251 146 60);
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.read-more-button:active {
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.mb{
    margin-bottom: 100px;
}
